#map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0c2504;
    color: #9e9d9d;
  }

  a:link {
    color: inherit;
    text-decoration: none;
  }

  a:visited {
      color: inherit;
      text-decoration: none;
  }


/* nav bar  */
.customNavStyles {
  background-color: #FFF1DA !important;
  margin-bottom: 1rem;
}

.is-1 {
  padding-top: 15px;
  font-family: 'Lakki Reddy', cursive;
  color: #195507;
}

.nav-link {
  color: #195507 !important;;
}

  /*rating start*/
  .checked {
    color: orange;
  }

  /* list Item */
  .bg-main {
  background-color: #FFF1DA;
  color: #195507;
  }

  .bg-dark-main {
    background-color: rgb(223, 215, 203);
  }


  .card-img-top {
  width: 80%;
  }

  .scrollable {
    overflow-y:scroll; 
    height: 80vh;
  }

/* landing page  */

.full-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.flex-container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none;
}

.center-animation {
  justify-content: center;
}



.animated-container {
  width: 50%;
  height: 50%;
}

h1.ml8 {
  font-family: 'Lakki Reddy', cursive;
  font-weight: 900;
  font-size: 4.5em;
  color: #fff;
  width: 3em;
  height: 3em;
}

.ml8 .letters-container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 1em;
}

.ml8 .letters {
  position: relative;
  z-index: 2;
  display: inline-block;
  line-height: 0.7em;
  right: -0.12em;
  top: -0.2em;
}

.sub-title {
  position: relative;
  z-index: 2;
  font-size: 2rem;
  display: inline-block;
  line-height: 0.7em;
  right: -0.12em;
  top: -0.2em;
}

.ml8 .bang {
  font-size: 1.4em;
  top: auto;
  left: -0.06em;
}

.ml8 .circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.ml8 .circle-white {
  width: 30rem;
  height: 30rem;
  border: 2px dashed white;
  border-radius: 2em;
}

.ml8 .circle-dark {
  width: 28rem;
  height: 28rem;
  background-color: #4f7b86;
  border-radius: 3em;
  z-index: 1;
}

.ml8 .circle-dark-dashed {
  border-radius: 2.4em;
  background-color: transparent;
  border: 2px dashed #4f7b86;
  width: 30rem;
  height: 30rem;
}

.close-landing {
  color: white;
  opacity: 80%;
}

.center-button {
  align-self: center;
}

/* pop up info from pin */
/* .gm-style-iw-c {
  min-width: 21rem;
  max-width: 22rem;
} */

.info-window {
  min-width: 21rem;
  max-width: 22rem;
}