#map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0c2504;
    color: #9e9d9d;
    margin-top: 3% !important;
  }

  a:link {
    color: inherit;
    text-decoration: none;
  }

  a:visited {
      color: inherit;
      text-decoration: none;
  }


/* nav bar  */
.customNavStyles {
  background-color: #FFF1DA !important;
}

.is-1 {
  padding-top: 15px;
  font-family: 'Lakki Reddy', cursive;
  color: #195507;
}

.nav-link {
  color: #195507 !important;;
}

  /*rating start*/
  .checked {
    color: orange;
  }

  /* list Item */
  .bg-main {
  background-color: #FFF1DA;
  color: #195507;
  }

  .bg-dark-main {
    background-color: rgb(223, 215, 203);
  }

  /* Map */
.fixMap {
  position: fixed;
}
