#map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
/* nav bar  */
.customNavStyles {
  background-color: #FFF1DA !important;
}

.is-1 {
  padding-top: 15px;
  font-family: 'Lakki Reddy', cursive;
  color: #195507;
}

.nav-link {
  color: #195507 !important;;
}

  /*rating start*/
  .checked {
    color: orange;
  }